.NewGame{
    cursor: pointer;
    width: 16vw;
    min-width: 90px;
    height: 15vh;
    padding: 3%;
    font-size: 1.5em;
    background-color: #00ffff;
    margin: 3%;
    border-radius: 50px 20px;
    background: rgb(4,0,36);
background: linear-gradient(90deg, rgba(4,0,36,0.9948354341736695) 0%, rgba(128,116,158,0.9332107843137255) 56%, rgba(205,0,255,0.8183648459383753) 100%);
  }